.thread {
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid black 2px;
    border-radius: 5px;
    background-color: azure;
}

.thread-info {
    display: flex;
    justify-content: space-evenly;
    background-color: aquamarine;
}

.thread-date {
    width: 200px;
    border: solid black 2px;
}

