.main-page__login {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99;
    border: solid;
    
}

.thread-buttom {
    margin: auto; 
    max-width: 900px;
    margin-top: 10px;
}

.thread-buttom:hover{
    cursor: pointer;
    max-width: 890px;
}